.buycar-details-page {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Arial", sans-serif;
  color: #333;
  
}

.buycar-details-main-image {
  text-align: center;
 
}

.buycar-details-main-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.buycar-details-description {
  text-align: center;
  font-size: 24px;
  line-height: 1.6;
  margin-bottom: 50px;
  color: #444;
  margin-top: 0px;

}

.buycar-details-card {
  display: flex;
  gap: 20px;
  border: 1px solid #294872;
  border-radius: 8px;
  margin: 40px 0px 40px;
  background: #fff;
}

.buycar-details-card-left img {
  width: 600px;
  height: auto;
  border-radius: 6px;
  object-fit: cover;
}

.buycar-details-card-right {
  flex: 1;
  margin-top: 100px ;
  margin-left: 20px;
}

.buycar-details-card-right h3 {
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 15px;
  font-size: 30px;
  color: #294872;
}

.buycar-details-card-right ul {
  list-style: disc;
  padding: 0;
  margin: 20px 0 20px 20px;
  
}

.buycar-details-card-right li {
  
  margin-bottom: 8px;
  font-size: 24px;
}

.buycar-details-btn {
  background-color: #1a73e8;
  font-size: 23px;
  color: #fff;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
}

.buycar-details-btn:hover {
  background-color: #155ab6;
}
