.search-container {
  max-width: 1000px;
  margin: -40px auto 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: 550;
  color: #294872;
  margin-bottom: 20px;
  margin-top: 0px;
  font-family: sans-serif;
}

/* Search Row */
.search-row {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.input-group {
  position: relative;
  flex: 1;
}

.list-search-input {
  width: 98%;
  padding: 10px 0px 10px 12px;
  border: 1px solid #294872;
  border-radius: 6px;
  font-size: 17px;
  color: #555;
}
.date-input {
  width: 100%;
  padding: 10px 0px 10px 12px;
  border: 1px solid #294872;
  border-radius: 6px;
  font-size: 17px;
  color: #555;
}
.input-group .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
}

.new-car-btn {
  background: #377cdb;
  color: #fff;
  border: none;
  padding: 10px 210px 10px 10px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 0px;
}

.new-car-btn:hover {
  background: #294872;
}

/* Dropdown Row */
.dropdown-row {
  display: flex;
  gap: 10px;
}

.dropdown-row select {
  flex: 1;
  padding: 10px 12px;
  border: 1px solid #294872;
  border-radius: 6px;
  font-size: 17px;
  color: #555;
}

/* Budget Section */
/* Budget section */
.budget-section label {
  display: block;
  font-weight: 550;
  margin-bottom: 5px;
}
.budget-section label {
  font-size: 30px;
  color: #294872;
}
.budget-values {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  margin-bottom: 8px;
  color: #555;
}

.budget-section input[type="range"] {
  width: 100%;
}

/* Responsive */
@media (max-width: 768px) {
  .search-row,
  .dropdown-row {
    flex-direction: column;
  }

  .new-car-btn {
    width: 100%;
  }
  .search-container {
    margin: 0px;
  }
  .title {
    font-size: 25px;
  }
  .budget-section label {
    font-size: 25px;
  }
}
