
.footer{
    margin: 0;
    padding: 10px;

    text-align: center;
    background-color: #d8d8d8;
    line-height: 1rem;
    border: 1px solid #595959;
}

.paragraph{
    color: #294872;
    font-size: 22px  ;
}

