.category-tabs {
  display: flex;
  gap: 1rem; /* space-x-4 */
  border-bottom: 1px solid #6B7A90;

  margin-bottom: 1rem;
}

.category-tabs button {
  padding: 0.5rem 1rem;
  font-size: 22px;
}

.category-tabs button.active {
  border-bottom: 2px solid #294872; /* border-blue-500 */
  font-weight: 600;
}

.category-tabs button{
  border: none;
  background-color: transparent;
}